@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@model FastFoodStore_Client.Models.User
@{
    Layout = "_Layout";
}
<div class="container tm-mt-big tm-mb-big">
    <div class="row">
        <div class="col-xl-9 col-lg-10 col-md-12 col-sm-12 mx-auto">
            <div class="tm-bg-primary-dark tm-block tm-block-h-auto">
                <div class="row">
                    <div class="col-12">
                        <h2 class="tm-block-title d-inline-block">Add New User</h2>
                    </div>
                </div>

                <form asp-action="Create" method="post" class="tm-edit-admin-form" enctype="multipart/form-data">
                    @if (!ViewData.ModelState.IsValid)
                    {
                        <div class="alert alert-danger">
                            <ul>
                                @foreach (var error in ViewData.ModelState.Values.SelectMany(v => v.Errors))
                                {
                                    <li>@error.ErrorMessage</li>
                                }
                            </ul>
                        </div>
                    }

                    <div class="form-group mb-3">
                        <label asp-for="FullName">Full Name</label>
                        <input asp-for="FullName" type="text" class="form-control validate" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Email">Email</label>
                        <input asp-for="Email" type="email" class="form-control validate" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="PhoneNumber">Phone Number</label>
                        <input asp-for="PhoneNumber" type="text" class="form-control validate" />
                    </div>

                    <div class="form-group mb-3">
                        <label asp-for="Address">Address</label>
                        <input asp-for="Address" type="text" class="form-control validate" />
                    </div>
                    <div class="form-group mb-3">
                        <label asp-for="Role">Role</label>
                        <select asp-for="Role" class="form-control">
                            <option value="Customer">Customer</option>
                            <option value="Guest">Guest</option>
                        </select>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="PasswordHash" type="hidden" class="form-control validate" value="Lmt_11"/>
                    </div>
                    <div class="form-group mb-3">
                        <input asp-for="Password" type="hidden" class="form-control validate" value="Lmt_11" />
                    </div>

                    <div class="col-12">
                        <button type="submit" class="btn btn-primary btn-block text-uppercase">Add New Admin</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>